<% if model.errors.any? %>
  <div class='alert alert-error' id="error_explanation">
    <h4><%= pluralize(model.errors.count, "error") %> prohibited this shop from being saved:</h4>

    <ul>
      <% model.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>