<h3>Editing Redirect</h3>

<%= render 'form', redirect: @redirect %>

<br>
<%= link_to 'Show', @redirect, class: 'btn btn-outline-primary' %>
<%= link_to 'Back', redirects_path, class: 'btn btn-outline-primary' %>
